# eZ80 assembly.

[syntax]
name       = KISS
extensions = .txt .kiss
case       = insensitive

[match]
# Quoted, because ';' starts a comment in this file too.
comment.line                 = eol '/'
variable.other = other

keyword.control              = words set comp load label loop endloop goto gotoif gotoifnot call callif callifnot ret timer timerret delay exit add sub div mul cos sin mode tabto print printnum cr spc swap pen ink plot moveto lineto circle key joy wait beep getnum output input vdp vdps spset spadd spmove spshow spframe spact debug cursor printvars setdata getdata cls rnd OR AND XOR NOT SHIFTLEFT SHIFTRIGHT spit


storage.register             = words a b c d e f g h i j k l m n o p q r s t u v w x y z @ ?

constant.numeric             = number
